.plataforma-road-Main
	&__box
		display block
		max-width 700px
		background white
		margin 5rem auto
		text-align center
		padding 2rem
	article
		margin 1rem auto
		a
			display block
			width 300px
			margin 0 auto
			background #0BC6DA
			color white
			text-decoration none
			padding .8rem
			border-radius 20px