    
.User-Perfil
	&__data
		form
			// padding-top 2rem
			padding-bottom 2rem
			// max-width 700px
			width 42%
			margin 0 auto
			div
				display block
				padding-bottom 1.3rem
				label
					display block
					text-align left
					padding-bottom .4rem
				input
					display block
					padding 1rem
					text-align left
					width 90%
			button
				padding .8rem
				font-size 1rem
				color white
				border none
				background blue
				margin 0 auto
				width 100%
				cursor pointer
			p
				padding-top 1.5rem
	
	&__msg
		display block
		margin 1rem auto
		max-width 303px
		text-align center
		// background white
		// padding 0.5rem
		// border 1px solid #21CE21
		// border-radius 5px
		color #21CE21