color_sub_title = #282828 
color_facebook = #3333C2
color_twitter = #59C7F3

.Login-Social-Form
	&__box
		background white
		text-align center
		margin 3em auto
		padding 1rem
		max-width 700px
	
	h2
		text-align center
		color color_sub_title
		
	.btn-social
		display block
		text-align center
		text-decoration none
		color white
		background blue
		padding 1rem
		border-radius 20px
		margin 1.5em auto
		width 300px
		
		&.color-blue
			background color_facebook
		&.color-skyblue
			background color_twitter
		
		 
		