@import 'nib'

*
	margin 0
	padding 0

html 
	font-family 'Arial', sans-serif
	font-size 16px

body
	background #FAFAFA

@import './header/index.styl'
@import './login/login-social-form.styl'
@import './plataforma/index.styl'
@import './plataforma/chat_social/index.styl'
@import './plataforma/personajes/index.styl'
@import './plataforma/personajes/detalle.styl'
@import './plataforma/personajes/update.styl'
@import './plataforma/personajes/delete.styl'
@import './about-me/index.styl'
@import './about-me/edit.styl'
@import './admin/login.styl'
@import './admin/panel_select.styl'
@import './admin/panel_mensajes.styl'
@import './admin/panel_usuarios.styl'
@import './admin/panel_usuarios_actions.styl'
@import './public_main.styl'

