.Public-Acceso
	&__box
		max-width 850px
		background white
		margin 2rem auto
		padding-top 3rem
		padding-bottom 3rem
		text-align center
		h1
			display block
			font-size 2.5rem
			color #2D2D2D
		div
			display block
			padding-top 1rem
			padding-bottom 1rem
			div
				display block
				color #2D2D2D
				p
					display block
					padding-botom .5rem
				a
					display block
					padding 1rem
					color white
					background #0BC6D9
					width 60%
					margin .5rem auto
					text-decoration none
					
	&__footer
		text-align center
		background #020D15
		padding-top 2rem
		padding-bottom 2rem
		color white
		a
			color #0BC6D9
					