.Admin-panel-user-actions
	margin 0 auto
	text-align center
	&__update
		display block
		padding-top 1rem
		padding-bottom 2rem
		form
			display block
			button
				display block
				padding 1.2rem 7rem
				background #00B7FF
				border none
				color white
				margin 0 auto
				cursor pointer
	&__delete
		display block
		text-align center
		padding-top 2rem
		margin 0 auto
		border-top 1px solid lightgray
		h2
			display block
			padding-bottom 1rem
		form
			width 50%
			display block
			margin 0 auto
			text-align center
			label
				display block
				padding-bottom .5rem
			input
				display block
				padding .7rem
				width 100%
				font-size 1rem
				padding-bottom .5rem
			div
				display block
				width 100%
				margin 1.5rem auto
				button
					padding 1rem 7rem
					color white
					background #FF3434
					border none
					cursor pointer
					
				
