.Admin-panel-select
	&__box
		max-width 700px
		margin 2rem auto
		background white
		text-align center
		padding-top 2rem
		padding-bottom 2rem
		h2
			font-size 1.5rem
		article
			padding-top .5rem
			padding-bottom .5rem
			form
				button
					padding 1rem
					color white
					background #4B67D4
					border none
					font-size 1.2rem
					cursor pointer
					