.Admin-panel-mensajes
	&__box
		max-width 700px
		margin 0 auto
		background white
		margin-top 2rem
		margin-bottom 2rem
		text-align center
		padding-top 1rem
	h2
		display block
		font-size 2rem
	ul
		display block
		li
			display block
			padding 1rem 2rem
			border-bottom 1px solid lightgray
			.Mensajes__top
				display block
				overflow hidden
				.Mensajes__top--user
					float left
					img
						border-radius 50%
						display inline-block
						vertical-align middle
					strong
						margin-left .5rem
						display inline-block
						vertical-align middle
				.Mensajes__top--close
					float right
					form
						button
							color white
							border none
							background black
							padding .5rem .7rem
							cursor pointer
							border-radius 50%	
			.Mensajes__bottom
				display block
				p
					text-align left
					padding-top .5rem
					margin-left 1.8rem