.Admin-panel-Users
	&__box
		background white
		max-width 1000px
		margin 2rem auto
		ul
			li
				list-style none
				padding 1rem
				margin 1rem
				border-bottom 1px solid lightgray
				.Admin-panel-Users__top
					display block
					overflow hidden
					.Admin-panel-Users__top--user
						float left
						img
							display inline-block
							border-radius 50%
							vertical-align middle
						h3
							display inline-block
							vertical-align middle
							margin-left .5rem
					.Admin-panel-Users__top--data
						float right
						display block
						padding-top 1rem
						form
							button
								border none
								background #0BC6D9
								color white
								padding .6rem
								cursor pointer
				.Admin-panel-Users__bottom
					display block
					padding-top 1rem
					padding-bottom .8rem
					span
						display block
						padding-bottom .3rem
						strong
							display inline-block
						p
							display inline-block
							

					