.Personajes-app
	&__read__item
		.item__action
			form
				display inline-block
				button
					border none
					color white
					cursor pointer
					padding .8rem 3rem
					margin .5rem
					&.color-blue
						background #3737F0
					&.color-red
						background #FF3D3D
	