color_logo = #0BC6D9

.Header-Main
	background white
	&__box
		text-aling center
		padding-top .5rem
		padding-bottom .5em
		height auto
		width 100%
		overflow hidden
	
	&__logo
		display inline-block
		float left
		margin-left .9em
		a
			text-decoration none
			figure
				display inline-block
				vertical-align middle
			h1
				display inline-block
				vertical-align middle
				color color_logo
	&__user
		display inline-block
		float right
		margin-right .8em
		
		figure
			display inline-block
			vertical-align middle
			margin-left .5em
			img
				border-radius 50%
		p
			display inline-block
			vertical-align middle
			margin-left .5em
		a
			display inline-block
			vertical-align middle
			margin-left .5em
			text-decoration none
		nav
			ul
				li
					list-style none
					display inline-block
					.menu__navs
						text-decoration none
						color #0bc6d9
						display block
						padding 1rem
						&:hover
							background #0bc6d9
							color white
							
						
			
.user__menu
	display none
	background #0BC6D9
	width 200px
	float right
	
	ul
		text-align center
		li
			list-style none
			a
				display block
				text-aling center
				text-decoration none
				color white
				padding .6rem
				&:hover
					background white
					color black
		
			